<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dicabeg</title>
</head>

<body>

    <h1>Dicabeg</h1>

    <p>Visita nuestras redes sociales:</p>

    <a href=<%= networks.twitter %>>twitter</a>
    <a href=<%= networks.instagram %>>instagram</a>

</body>

</html>